header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  background-color: blueviolet;
  color: white;
  height: 100px;
}

header a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

header a:hover {
  color: rgb(23, 133, 127);
  text-decoration: none;
}
